*, *::before, *::after {
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar { 
    width: 4px;
    background: var(--main-back-color);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(11deg, var(--main-color) 27.3%, var(--main-color) 112.7%);
}

:root {
    --color: #eee;
    --back-color: #451c862f;
    --back-color-hover: #9056ec2f;
    --main-color : #ff14bd;
    --main-back-color: #0b0318 ;
}

body {
    background: var(--main-back-color);
    font-family: cairo;
    margin: 0 auto;
    direction: rtl;
    /* font-family: 'DroidArabicKufi', roboto, Arial, Sans-Serif; */
}

a ,i ,ul{
    color: var(--color);
}

i {
    margin-left: 6px;
}

dl,ul{
    list-style-position:inside;
    font-weight:400;
    list-style:none
}

ul li{
    list-style:none;
}

a,a:visited{
    text-decoration:none
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    height: 80px;
    margin: 15px auto;
    background-color: #ffffff13;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    padding: 10px ;
}

.menu {
    display: flex;
    gap: 10px;
}


.icon-nav {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.icon-nav {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.icon-nav i {
    margin-right: 6px;
}

.icon-nav div {
    color: #eee;
    font-size: 21px;
    background-color: #0b031831;
    border-radius: 21px;
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.bookmark {
    width: 135px !important ;
    font-size: 17px !important;
}

.hover-nav {
    background-color: #00000028;
    width: 100px;
    height: 40px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hover-nav:before {
    content: '';
    position: absolute;
    border-radius: 21px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.menu li:hover::before {
    animation-name: hover-Nav;
}

@keyframes hover-Nav {
    0%{
        border: #ffffff28 solid 3px;
    }
        100% {
        border: #ffffff28 solid 3px;
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
        }
}

.background {
    background: url(../images/img/Dzlj2ROUUAAAxYP.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 550px;
    position: relative;
    height: 550px;
    background-position: 50%;
}

.background::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg ,var(--main-back-color) , transparent ,var(--main-back-color));
} 


/* slider */

.slider-media {
width: 100%; 
position: relative;
top: -150px;
}

.slider {
    position: relative;
    width: 85%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}

.slider-wrapper {
    display: flex;
    gap: 13px;
}



.arrow i {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    z-index: 100;
    top: 50%;
}

.left {
    left: 2.8%;
}

.right {
    right: 2.8%;
}

.wrapper {
    width: 260px;
    height: 385.05px;
    overflow: hidden;
    border-radius: 16px;
}

.wrapper img {
    width: 260px;
    transition: .7s;
}

.wrapper img:hover {
    transform: scale(1.08) rotate(-1deg);
}


.bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}

.tabs ul{
    display: flex;
    gap: 15px;
}

.tabs li{
    background-color: var(--back-color);
    border-radius: 21px;
    width: fit-content;
    padding: 0 19px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow .5s ease-in-out  , background-color .4s ease-in-out ;
}

:is(.tabs li,.filter-icon):hover {
    text-shadow: 0 0 0.1em #ffffff4d, 0 0 0.3em currentColor;
    background-color: #9056ec2f;
}

.active {
    margin: 0 -3px;
    border: 3px solid #ff14bd;
    text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.7em 0 #ff14bd, 0 0 0.9em 0 #ff14bd;
}

.search-filter{
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-evenly;
}

.search-filter i {
    margin-right: 6px;
}

.input-search {
    width: 300px;
    height: 42px;
    display: flex;
    position: relative;
    border-radius: 8px;
}

.input-search input[type=text] {
    position: absolute;
    background-color: #a976fa2f;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: #eee;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: .3s ease-in-out box-shadow;
    font-family: cairo;
}

.input-search input::placeholder { color: #eee; }

.input-search :is(button,input):focus {
    margin: 0 -1px;
    outline: none;
    border: 3px solid #ff14bd;
    box-shadow: inset 0 0 0.5em 0 #ff14bd, 0 0 0.9em 0 #ff14bd;
}

.input-search button {
    position: absolute;
    font-size: 19px;
    border-radius: 8px 0 0 8px;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: #ff14bd;
    border: none;
    cursor: pointer;
}

.filter-icon {
    font-size: 21px;
    background-color: #5c27b32f;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .5s ease-in-out  , background-color .4s ease-in-out ;
}

.active-icon {
    border: 2px solid #ff14bd;
    text-shadow: 0 0 0.100em #ffffff4d, 0 0 0.3em currentColor;
    box-shadow: inset 0 0 0.4em 0 #ff14bd, 0 0 0.7em 0 #ff14bd;
}

.list-grid {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
    gap: 35px 18px;
}

.card-img{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.button-watch {
    position: absolute;
    display: flex;
    background-color: #ff14bcb6;
    box-shadow: inset 0 0 0.4em 0 #ff14bd, 0 0 0.7em 0 #ff14bd;
    text-shadow: 0 0 0.100em #ffffff4d, 0 0 0.3em currentColor;
    justify-content: center;
    align-items: center;
    left: 50%; ;
    bottom: 0;
    border: none;
    border-radius: 8px;
    transform: translate(-50% ,120%);
    width: 90%;
    height: 31px;
    color: #eee;
    direction: ltr;
    cursor: pointer;
    transition: transform .25s linear;
}

.card-img .btn{
    z-index: 2;
}

.button-watch i {
    font-size: 19px;
    margin: 0 8px 0 0;
}

.main-card:hover .button-watch {
    transform: translate(-50% ,-50%);
}

.button-watch:hover {
    background-color: #ff14bc;
}


.main-card:hover .card-img img {
    transform: scale(1.07) rotate(-.5deg);
}

.card-img {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.card-img figure img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: transform  .2s linear;
}

.main-card {
    position: relative;
    overflow: hidden;
}

.card-button {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 0.100em #ffffff4d, 0 0 0.3em currentColor;
    color: #eee;
    cursor: pointer;
    z-index: 1;
}


.card-button div {
    transition: transform 0.3s linear;
}

.button-options {
    transform: translate(100%, 0);
}

.button-bookmark {
    transform: translate(-100%, 0);
}

.card-button i {
    font-size: 25px;
    text-align: center;
    margin: 8px;
}

.card-post:hover .card-button div {
    transform: translate(0, 0);
}

.ltr {
    direction: ltr;
}


.title-post h3 {
    margin: 6px 0;
}

.info-movie .info-text samp {
    font-weight: bold;
    font-family: roboto;
    font-size: 12px;
    color: #B7C4CF;
    margin: 0 1px;
}

.info-movie {
    margin: -10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-movie .info-text :last-child {
    font-weight: 300;
}


.main-card:hover .card-img::before {
    content: "";
    position: absolute;
    background-color: #0b03187e;
    backdrop-filter: blur(2px);
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* opacity: .4; */
}

.star{
    background-color: #ffb43a;
    width: 55px;
    height: 20px;
    border-radius: 20px;
    color: #0b0318;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-family: roboto;
    font-size: 16px;
    box-shadow: inset 0 0 0.4em 0 #ffb43a, 0 0 0.7em 0 #ffb43a;
}

.star i{
    color: #0b0318;
    font-size: 14px;
    margin: 0;
}

.bar-options {
    position: absolute;
    background-color: #0b0318;
    width: 80%;
    height: fit-content;
    top: 40px;
    right: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    opacity: .9;
    padding: 5px 5px;
}

.bar-options samp {
    margin: 2px 0;
    font-weight: bold;
    font-family: cairo;
    font-size: 12px;
    border-radius: 5px;
    transition: background-color .2s linear;
    cursor: pointer;
}   

.bar-options samp:hover {
    background-color: #a30d78ab;
}  

.bar-options samp i {
    font-size: 14px;
}

.bar-options {
    display: none;
}

.activeBar {
    display: flex;
}

.btn-loding {
    width: 100%;
}

.loding-more {
    width: 50%;
    height: 30px;
    background-color: var(--back-color);
    border: none;
    border-radius: 5px;
    margin: 20px 5px ;
    transform: translate(-50%);
    cursor: pointer;
    transition: border .5s linear;
}

.loding-more samp {
    color: var(--color);
    font-family: cairo;
    font-size: 14px;
}

.loding-more:hover {
    border:  1px solid var(--main-color) ;
    text-shadow: 0 0 0.125em #ffffff4d, 0 0 0.45em currentColor;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--main-color);
}

footer hr {
    background-color: var(--main-color);
    width: 90%;
    height: 2px;
    border: none;
    margin: 20px 0;
}

.social-media {
    margin: 10px 0;
    color: #eee;
    direction: ltr;
}

.social-media i {
    margin: 0 9px;
    font-size: 30px;
    cursor: pointer;
}

.social-media i:hover {
    color: var(--main-color);
}

.copyright > p {
    color: var(--color);
    direction: ltr;
    word-spacing: 2px;
}

.copyright  a {
    color: var(--main-color);
    direction: ltr;
    font-weight: bold;
}



    .tabsV1 {
        width: 80%;
        height: 50px;
        position: relative;
        background-color: var(--back-color) ;
        margin: 10px auto;
        /* box-shadow: 0 0 1px 5px var(--main-color); */
        position: relative;
        border-radius: 10px;
    }
    
    .tabsV1::before {
        content: '';
        width: 112%;
        height: 4px;
        position: absolute;
        background-color: #f0746f;
        bottom: -13px;
        left: -6%;
        border-radius: 100px;
        animation-name: gradient;
        animation-duration: 3s;
        animation-direction: alternate-reverse;
        animation-iteration-count:infinite ;
    }
    
    @keyframes gradient {
        0% {
        background-color: #4121f3;
        }
        50% {
        background-color: #cc1e75;
        }
        100% {
        background-color: var(--main-color);
        }
    }
    
    .tabsV1 ul{
        display: flex;
        justify-content:flex-start;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .tabV1{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        cursor: pointer;
        color: white;
        font-weight: bold;
    }
    
    .tabV1:hover{
        background-color:var(--back-color-hover) ;
    }
    
    .up {
        animation-name: up;
        animation-duration: .5s;
    }
    
    @keyframes up {
        from {
        transform: translateY(-25px);
        opacity: 0.1;
        filter: blur(5px);
        }
        to {
        transform: translateY(0px);
        }
    }
    
    .active-tab {
        background-color:var(--main-color) ;
        transition-duration: 2s;
    }
    
    .content-tabs {
        width: 80%;
        margin: 20px auto;
        padding: 6px;
        transition-duration: 1s;
        overflow: hidden;
    }
    .content {
        animation-name: ani;
        animation-duration: .5s;
    }
    .content h2{
        color: #eee ;
    }
    
    .content-tabs > .content:not(:first-child){
        display: none;
    }
    
    @keyframes ani {
        from {
        opacity: 0.1;
        filter: blur(5px);
        transform: translateY(-100px);
        }
        to {
        opacity: 1;
        transform: translateY(0px);
        }
    }
    

    
.slides-imge {
    border: solid 4px #eee;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px #29292977;
    margin: 0 auto;
    overflow: hidden;
    width: 600px;
    height: 400px;
    position: relative;
    margin: 10px auto;
    background-color:#eee;
  }
  
  .slides-imge > h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-60% );
    color: #eee;
    text-shadow: -1px 0px 5px black;
    z-index: 10;
  }
  
  .settings {
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    border: none;
    top: 10px;
    right: 45px;
    opacity: 0.9;
    cursor: pointer;
    background-color: #eee;
  }
  
  .settings > img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15%;
    top: 15%;
    filter: drop-shadow(0px 0px 2px #00000098)
  }
  
  .settings:before {
    content: "";
    position: absolute;
    border: transparent solid 2px;
    width: 100%;
    height: 100%;
    left: -5%;
    top: -7%;
    border-radius: 40%;
    opacity: 1;
    transition-duration: .3s;
    transform: scale(1.4);
  }
  
  .settings:hover:before {
    border-color: #eee;
    transition-duration: .3s;
    transform: scale(1.1);
  } 
  
  .settings_drob {
    position: absolute;
    z-index: 10;
    width: 200px;
    display: none;
    border-radius: 10px;
    right: 7%;
    top: 12%;
    backdrop-filter: blur(20px);
    border: 2px solid #ffffffb2;
    transition-duration: 3s;
  }
  
  .Time {
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 10px auto;
    border-radius: 6px;
    border: 2px solid #ffffff9c;
    padding: 5px;
    background-color: #00000028;
  }
  
  .Time > button{
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    margin: 0 1%;
  }
  
  .check {
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 10px auto;
    border-radius: 6px;
    border: 2px solid #ffffff9c;
    padding: 5px;
    background-color: #00000028;
  }
  
  .click {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #2c2b2b27;
    color: #eee;
    width: 30px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .left {
    left: -2px;
  }
  .right {
    right: 0;
  }
  
  .click:hover {
    background-color: #27252557;
    transform:translate(1px);
    transition-duration: .3s;
  }
  
  .dot {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5px auto;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50% ,-25%);
  }
  
  .dot > div {
    background-color: #eee;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s transform;
    box-shadow: 0px 0px 5px 2px #000000bb;
    margin-left: 1%;
    opacity: 0.5;
  }
  
  .dot > div:hover {
    opacity: 1;
    transform: translateY(-3px);
    transition-duration: .4s;
  }
  
  .active {
    opacity: 1 !important;
    transform: translateY(-3px);
    transition-duration: .4s !important;
  }
  
  .animated img {
    animation-name:animated;
    animation-duration:1s;
  }
  
  @keyframes animated {
    from {
      filter: blur(7px);
      transform: scale(1.13) rotate(3deg);
      opacity: .9;
    }
  }
  
  
  